.main2{
 
 width: 100%;      
  height: 89vh;      
  object-fit: cover; 
  padding-top: 1250px;

  
}
.mainimg{
    width: 100%;
}



.main2 h2{
 position: absolute;
 left: -200px;
 /* top: 50%; */
display: inline-block;
 font-size: 24px;
 font-weight: bold;
animation: scroll-left 8s linear infinite;
}
@keyframes scroll-left {
    from{
        transform: translateY(30%);
    }
    to{
   
        transform: translateX(230%);
    }
    
}
.main2 span{
    color:  red;
}

/* 1280px */
@media (max-width: 1280px) {
  .main2 h2 {
    animation: none;
    position: static;
    text-align: center;
    font-size: 22px;
    padding-left: 400px;
    align-items: center;
  }
    .main2{
        padding-top: 1100px;
    }
  

}
@media (max-width: 1024px) {
  .main2 h2 {
    animation: none;
    position: static;
    text-align: center;
    font-size: 20px;
  }
  .main2{
        padding-top: 940px;
    }
}
@media (max-width: 800px) {
  .main2 h2 {
    animation: none;
    position: static;
    text-align: center;
     padding-left: 200px;
    font-size: 18px;
  }
  .main2{
        padding-top: 760px;
    }
}

@media (max-width: 500px) {
  .main2 h2 {
    animation: none;
    position: static;
    text-align: center;
     padding-left: 100px;
    font-size: 17px;
  }
  .main2{
        padding-top: 1300px;
    }
}